@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}
/* General input styling */
input[type="date"] {
    color: black !important;  /* Text color */
    background-color: white !important;  /* Background color */
    border: 1px solid black !important; /* Border color */
  }
  
  /* Target Safari mobile specific styles */
  input[type="date"]::-webkit-datetime-edit {
    color: black !important; /* Text color in the date input */
    background-color: white !important; /* Background color */
  }
  
  /* Hide the clear and spin buttons */
  input[type="date"]::-webkit-clear-button, 
  input[type="date"]::-webkit-inner-spin-button {
    display: none !important;
  }
  
  /* Calendar picker indicator styling */
  input[type="date"]::-webkit-calendar-picker-indicator {
    color: black !important;
  }
  
  
.background{
    background-image: url(../public/bg-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    min-height: 100dvh;
}
  
.ufdb:not(:placeholder-shown):valid{
    outline-color: green;
}

.ufdb:not(:placeholder-shown):invalid{
    outline-color: red;
}
 